<div class="flex items-center flex-wrap gap-5">
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
  <app-bookmark-card></app-bookmark-card>
</div>
