<div class="flex justify-center">
  <div class=" flex gap-3 bg-black/30 rounded-lg mb-3 mt-32 p-2">
    <div routerLinkActive="selected" routerLink="bookmarks" class=" relative  p-3 rounded-md group cursor-pointer">
      <div class="tab-bg absolute left-0 top-0 bg-violet-400 opacity-70 group-hover:opacity-100 w-full h-full rounded-md group-hover:scale-110 transition-all duration-300"></div>
      <i-lucide class=" relative z-10" name="bookmark" [size]="30" color="black" [strokeWidth]="1"></i-lucide>
      <div class="tab-bar bottom-[-23.5px] transition-all duration-100 opacity-0 h-1 bg-slate-300/80 rounded-lg w-full absolute left-0"></div>
    </div>
    <div routerLinkActive="selected" routerLink="todos" class=" relative  p-3 rounded-md group cursor-pointer">
      <div class="tab-bg absolute left-0 top-0  bg-indigo-400 opacity-70 group-hover:opacity-100  w-full h-full rounded-md group-hover:scale-110 transition-all duration-300"></div>
      <i-lucide class=" relative z-10" name="align-left" [size]="30" color="black" [strokeWidth]="1"></i-lucide>
      <div class="tab-bar bottom-[-23.5px] transition-all duration-100 opacity-0 h-1 bg-slate-300/80 rounded-lg w-full absolute left-0"></div>
    </div>
    <div routerLinkActive="selected" routerLink="notes" class=" relative  p-3 rounded-md group cursor-pointer">
      <div class="tab-bg absolute left-0 top-0 bg-blue-400 opacity-70 group-hover:opacity-100  w-full h-full rounded-md group-hover:scale-110 transition-all duration-300"></div>
      <i-lucide class=" relative z-10" name="check" [size]="30" color="black" [strokeWidth]="1"></i-lucide>
      <div class="tab-bar bottom-[-23.5px] transition-all duration-100 opacity-0 h-1 bg-slate-300/80 rounded-lg w-full absolute left-0"></div>
    </div>
  </div>
</div>
