<div class=" bg-black/60 rounded-full group flex items-center gap-3 text-white/80 cursor-pointer p-2 transition-all duration-100 hover:text-white">
  <div class="transition-all duration-100 group-hover:border-white border-2 group-hover:bg-gray-600 border-white/50 w-[25px] h-[25px] rounded-full flex items-center justify-center">
    <i-lucide name="check" [size]="15" color="white" class=" hidden" [strokeWidth]="1"></i-lucide>
  </div>
  <p class="transition-all duration-100 ">To clean house</p>
</div>
